.windowsBackground {
    width: 100%;
    height: 100vh;
    background-image: url('/assets/images/windows-7-home.jpg');
    background-size: cover;
    background-position: center;
}

.desktopIcon:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* The frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}